<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studentmanage.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.example.studentmanage.model.Student">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentName" column="studentName" jdbcType="VARCHAR"/>
        <result property="studentSex" column="studentSex" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,studentName,studentSex
    </sql>

    <select id="selectAll" resultType="com.example.studentmanage.model.Student">
        select id, studentName, studentSex
        from student;
    </select>

    <insert id="insertStudent">
        insert into student (id, studentName, studentSex)
        values (#{id}, #{studentName}, #{studentSex})
    </insert>

    <update id="updateStudentById">
        update student
        <set>
            <if test="studentName!=null">studentName=#{studentName},</if>
            <if test="studentSex!=null">studentSex=#{studentSex}</if>
        </set>
        where id =#{id}
    </update>

    <delete id="deleteStudentbyId">
        delete
        from student
        where id = #{id}
    </delete>

</mapper>
