<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studentmanage.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.example.studentmanage.model.Student">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentName" column="studentName" jdbcType="VARCHAR"/>
        <result property="studentSex" column="studentSex" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,stuName,stuSex
    </sql>
    <!--<insert id="insertStudent"></insert>-->
    <!--<update id="updateStudentById"></update>-->
    <!--<delete id="deleteStudentbyId"></delete>-->


    <!--&lt;!&ndash;根据id更改用户信息&ndash;&gt;-->
    <!--<update id="update">-->
    <!--    update user-->
    <!--    <set >-->
    <!--        <if test="userName != null" >-->
    <!--            userName = #{userName,jdbcType=VARCHAR},-->
    <!--        </if>-->
    <!--        <if test="passWord != null" >-->
    <!--            passWord = #{passWord,jdbcType=VARCHAR},-->
    <!--        </if>-->
    <!--        <if test="realName != null" >-->
    <!--            realName = #{realName,jdbcType=VARCHAR},-->
    <!--        </if>-->
    <!--    </set>-->
    <!--    where id = #{id,jdbcType=INTEGER}-->
    <!--</update>-->
    <!--<update id="updateStudentById"></update>-->


    <!--&lt;!&ndash;删除用户信息&ndash;&gt;-->
    <!--<delete id="deleteById">-->
    <!--    delete from user where id=#{id}-->
    <!--</delete>-->


    <select id="selectAll" resultType="com.example.studentmanage.model.Student">
        select id, studentName, case studentSex when '1' then '男' else '女' end
        from student;
    </select>

</mapper>
